name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  shellcheck:
    name: shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1

  test:
    name: Test remark
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, windows-latest, macos-latest, macos-11, ubuntu-18.04, windows-2022, windows-2016]

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run test
        uses: ./
      - name: Verify Changed files
        uses: tj-actions/verify-changed-files@v8.8
        id: verify_changed_files
        with:
          files: |
            README.md
      - name: README.md changed
        if: steps.verify_changed_files.outputs.files_changed == 'true' && github.event_name != 'pull_request'
        run: |
          echo "README.md has uncommited changes"
          exit 1
      - name: Create Pull Request
        if: failure() && github.event_name != 'pull_request'
        uses: peter-evans/create-pull-request@v3
        with:
          base: "main"
          title: "Updated README.md"
          branch: "chore/update-readme"
          commit-message: "Updated README.md"
          body: "Updated README.md"
          token: ${{ secrets.PAT_TOKEN }}
